form {
flex-direction: column;
height: 82%;
width: 100%;
top: -3%;
color: #ffffff;
z-index: 4;
}

input {

margin-bottom: -15px;
width: 95%;
height: 8.5%;
background: white;
align-self: center;
border-radius: 25px;
border: none;

}

textarea {

margin: 15px;
width: 65%;
height: 40%;
align-self: center;

}

label {
    align-self: center;
    margin-top: 15px;
    font-size: 2.75vw;
    font-family:  'Fjalla One', sans-serif;
    background: #070755;
    padding: 4px;

}

label:nth-child(2) {

margin-top: -25px;
margin-bottom:2px;

}

label:nth-child(6) {

margin-top: 20px;
margin-bottom: -12px;
font-size: 5vw;

}

input:nth-child(8) {

width: 35%;
font-family:  'Fjalla One', sans-serif;
border: none;
font-size: 4vw;
height: 10%;
margin-top: -12px;

}

@media (min-width:600px) {

    form {

        top: -2%;

    }

    textarea {
        margin: 13px;
        height: 30%;
    }

    input {

    height: 10%;

    }   

    label {

        font-size: 2vw;

    }

    

    label:nth-child(2) {

        margin-top: -25px;
        margin-bottom:5px;
        
        }

        label:nth-child(4) {

            margin-top: 25px;
            margin-bottom:5px;
            
            }

    label:nth-child(6) {

        margin-top: 20px;
        margin-bottom: -10px;
        font-size: 3.5vw;

        
        }


    input:nth-child(8) {

        width: 35%;
        font-family:  'Fjalla One', sans-serif;
        border: none;
        font-size: 2vw;
        height: 7%;
        margin-top: 0px;
        
        }

}

@media (min-width:768px) {

    form {

        top: -10%;
        left: 25%;

    }

    textarea {
        margin: 13px;
        height: 30%;
        width: 40%;
    }

    input {

    height: 5%;
    width: 45%;

    }   

    label {

        font-size: 1.5vw;

    }

    

    label:nth-child(2) {

        margin-top: -25px;
        margin-bottom:5px;
        
        }

        label:nth-child(4) {

            margin-top: 25px;
            margin-bottom:5px;
            
            }

    label:nth-child(6) {

        margin-top: 20px;
        margin-bottom: -10px;
        font-size: 2.5vw;

        
        }


    input:nth-child(8) {

        width: 35%;
        font-family:  'Fjalla One', sans-serif;
        border: none;
        font-size: 1.65vw;
        height: 5%;
        margin-top: 0px;
        
        }

}