form {
flex-direction: column;
position: relative;
height: 75%;
width: 90%;
top: 10.5%;
color: #ffffff;
z-index: 4;
}

input {

margin: 5px;
width: 85%;
height:5vh;
background: white;
align-self: center;
border: none;

}


#send_btn {
height: 15%;
margin: 10px;
width: 45%;
font-family:  'Fjalla One', sans-serif;
border: none;
font-size: 4.35vw;
margin-bottom: 5px;
cursor: pointer;
}

#typing {
    visibility: hidden;
}

textarea {

width: 85%;
height: 40%;
align-self: center;
border: none;

}

label {
    display: block;
    width: 50%;
    text-align: center;
    align-self: center;
    font-size: 0vh;
    font-family:  'Fjalla One', sans-serif;

}

::placeholder {
    font-size: 2vh;
    padding: 10px;
}


@media (min-width:599px) {

    ::placeholder {
        visibility: hidden;
    }

    #send_btn {
        height: 25%;
        }
        

    #typing {
        visibility: visible;
    }

    label {
        display: block;
        width: 50%;
        text-align: center;
        align-self: center;
        margin: 10px;
        font-size: 3vh;
        font-family:  'Fjalla One', sans-serif;
    
    }


}

@media (min-width:767px) {

    label {
        display: block;
        width: 50%;
        text-align: center;
        align-self: center;
        margin: 15px;
        font-size: 2.5vh;
        font-family:  'Fjalla One', sans-serif;
    
    }

    #send_btn {
        height: 15%;
        }

    
}

@media (min-width:1023px) {

    #send_btn {
        margin-top: 25px;
        height: 5vh;
        font-size: 3.5vh;
        }

        form {
            flex-direction: column;
            position: relative;
            height: 75%;
            width: 90%;
            left: 35%;
            top: 9%;
            color: #ffffff;
            z-index: 4;
            }
    
}