form {
flex-direction: column;
position: relative;
height: 75%;
width: 90%;
top: 10.5%;
color: #ffffff;
z-index: 4;
}

input {

margin: 5px;
width: 85%;
height:5vh;
background: white;
align-self: center;
border: none;

}

input:last-child {

cursor: pointer;

}

textarea {

width: 85%;
height: 40%;
align-self: center;
border: none;

}

label {
    display: block;
    width: 50%;
    align-self: center;
    font-size: 1.25vw;
    font-family:  'Fjalla One', sans-serif;

}

::placeholder {
    font-size: 1.5vh;
    padding: 15px;
}

label:nth-child(2) {

margin-top: 0px;
margin-bottom:2px;

}

label:nth-child(6) {

margin-top: 20px;
margin-bottom: -10px;
font-size: 2.4vh;

}

input:nth-child(8) {

width: 45%;
font-family:  'Fjalla One', sans-serif;
border: none;
font-size: 1.5vw;
height: 10%;
margin-bottom: 5px;

}

@media (min-width:600px) {

}

@media (min-width:767px) {


    
}

@media (min-width:1024px) {


    
}