#footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    height: 50vh;
    width: 100%;
    background-color: #00008b;
}

form {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    margin: 30px;
}

h2 {
    position: absolute;
    text-transform: uppercase;
    color: white;
}

