@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

#footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    position: relative;
    height: 20%;
    width: 100%;
    background-color: #001a2b;
    z-index: 1;
    overflow: hidden;
}

form {
    position: relative;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 25px;
    height: 50%;
    width: 100%;
}

h2 {
    position: absolute;
    text-transform: uppercase;
    margin: 10px;
    font-size: 36px;
    font-family: 'Lobster', cursive;
    color: white;
    z-index: 2;
}

#contact_img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: auto;
    filter: blur(3px);
}



#contact_email {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    border-top: 2px solid black;
    background-color: #004c8bb0;
    height: 8%;
    width: 300%;
}

#email {
    align-self: center;
    font-size:3.5vh;
}


/* media querie's */

@media (min-width:600px) {

    h2 {
        position: absolute;
        text-transform: uppercase;
        margin: 5px;
        font-size: 46px;
        font-family: 'Lobster', cursive;
        color: white;
        z-index: 2;
    }



}

@media (min-width:767px) {

    h2 {
        position: absolute;
        text-transform: uppercase;
        margin: 10px;
        font-size: 36px;
        font-family: 'Lobster', cursive;
        color: white;
        z-index: 2;
    }

    
}

@media (min-width:1024px) {


    
}
