@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

#heading {
    align-self: flex-start;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #000000d0;
    overflow: hidden;
}

#start_box {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 15vh;
    width: 100vw;
    background-image: linear-gradient(#000000ad 85%, transparent);
    background-size: 45%;
    overflow: hidden;
    z-index: 2;
}

#end_box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(transparent, darkblue 150%);
    z-index: 0;
}

img {
    position: absolute;
    left: -90%;
    height: 100%;
    width: auto;
    z-index: -1;
}

h1 {
    display: block;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    font-size: 26px;
    font-family: 'Merriweather', serif;
    color: green;
    z-index: -1;
}

ul {
    display: block;
    position: absolute;
    align-self: center;
    list-style: none;
    text-align: center;
    font-size: 46px;
    font-family: 'Fjalla One', sans-serif;
    animation: showing_list 2s linear;
    z-index: 1;
}

@keyframes showing_list {

    0% {
        opacity: 0;
        /* top: 0%; */
    }

    100% {
        opacity: 1;
        /* top: 40%; */
    }

}

a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: .5s;
}

a:hover {
    font-size: 52px;
}

a:active {
    font-size: 52px;
}

p {
    display: block;
    position: absolute;
    align-self: center;
    margin: 28px;
    font-size: 48px;
    font-family: 'Lobster', cursive;
    color: white;
}

p:hover {
    cursor: default;
}
