@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 250vh;
    width: 100%;
}

#skills1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #80808080;
    background-size: 75%;
    z-index: 0;
    overflow: hidden;
}

#knowledge {
    display: block;
    position: absolute;
    float: right;
    height: 220px;
    left: -29px;
    bottom: -2px;
    z-index: 0;
}



#skills2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    height: 50%;
    width: 100%;
    background-image: url(../images/desk.jpg);
    background-size: 40%;
}



/* description */

.avatar {
    position: absolute;
    height: 100px;
    width: 100px;
    background-size: 100px;
    background-image:url(../images/Ulub.png);
    border-radius: 50%;
}


#widget__one {
    display: flex;
    flex-direction: row;
    position: absolute;
    top:25px;
    height:110px;
    width:500px;
    left:00px;
    background:linear-gradient(#32a883, #00702f) ;
    border-radius:0px 50px 50px 0px;
    animation-name: animacja;
    animation-duration: 4s;
}

@keyframes animacja {
    
    0% {
        left:-400px;
    }
    
    100% {
        left:0px;
    }

}

#widget__two_with_description {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top:175px;
    right:0px;
    height:50vh;
    width: 90%;
    float: right;
    border-radius: 25px 0px 0px 25px;
    -webkit-box-shadow: inset 0px -1px 10px 0px #000000; 
box-shadow: inset 0px -1px 10px 0px #000000;
    background:radial-gradient(#ffffff, #ececec) ;
    animation-name: animacja___druga;
    animation-duration: 4s;
}


@keyframes animacja___druga {
    
    0% {
        right:-1200px;
    }
    
    100% {
        right:0px;
    }

}


.desc {
    display: block;
    position: relative;
    align-self: flex-end;
    text-align: left;
    font-size: 22px;
    padding: 1px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #c6b8ff;
    z-index: 1;
}

#about_me_ {
    top: 0px;
}

/* */


#actual_skills {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 20px;
    height: 80%;
    width: 90%;
    border-bottom: 2px solid white;
    background-color: #0000008a;
    z-index: 1;
}

#container___one {
display: flex;
position: relative;
height: 100%;
width: 100%;

}

#container___two {
display: flex;
position: relative;
height: 100%;
width: 100%;
}

#container__three {
display: flex;
position: relative;
height: 100%;
width: 100%;
}

/* skill's */

#skill1 {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: #ff9900b9;
    overflow: hidden;
}

#skill2 {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: #0059ff86;
    overflow: hidden;
}

#skill3 {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    background-color: #ffe6008e;
    overflow: hidden;
}

#skill_wordpress {
position: relative;
display: flex;
justify-content: center;
width: 100%;
background-color: #4274ffc9;
overflow: hidden;
z-index: 4;

}

#skill4 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fc7ff5a1;
    overflow: hidden;
}

#skill5 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #3ea8ffab;
    overflow: hidden;
}

#skill6 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #b22222b4;
    overflow: hidden;
}

h4 {
    align-self: center;
    text-transform: uppercase;
    margin: 5px;
    font-size: 22px;
    font-family: 'Merriweather', serif;
    color: white;
}

/* */

#html5 {
    position: relative;
    align-self: center;
    right: 47.5%;
    bottom: 0px;
    height: 85px;
    z-index: 1;
}

#css3 {
    position: relative;
    align-self: center;
    right: 49%;
    bottom: 0px;
    height: 95px;
    z-index: 1;
}

#wordpress_log {

    position: absolute;
    align-self: center;
    opacity: .65;
    top:-185%;
    height: 750px;
    z-index: 1;

}

#js6 {
    position: relative;
    align-self: center;
    left: -43.5%;
    bottom: 0px;
    height: 90px;
    z-index: 1;
}

#sassscss {
    position: relative;
    align-self: center;
    left: -43.5%;
    bottom: 0px;
    height: 130px;
    z-index: 1;
}

#react {
    position: relative;
    align-self: center;
    left: 47.5%;
    bottom: 0px;
    height:100px;
    z-index: 1;
}

#git {
    position: relative;
    align-self: center;
    left: -47.5%;
    bottom: 0px;
    height: 85px;
    z-index: 1;
}

.html5_name {
    position: absolute;
    text-align: center;
}

.css3_name {
    position: absolute;
    text-align: center;
}
.js6_name {
    position: absolute;
    text-align: center;
}

.wordpress_name {

    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 110px;

}

.sassscss_name {
    position: absolute;
    text-align: center;
}

.react_name {
    position: absolute;
    text-align: center;
}

.git_name {
    position: absolute;
    text-align: center;
}

/* media querie's */

@media (min-width:280px) and (max-width:650px) {
    
    #widget__two_with_description {
        top: 50px;
        height:125px;
    }
}

@media (max-width:650px) and (orientation:portrait) {
    
    #widget__two_with_description {
        top: 60px;
        height:50vh;
    }
}

@media (max-width:768px) {

    #widget__two_with_description {
        top:150px;
        height:45vh;
    }
    
    #widget__one {
        width: 300px;
    }

    #skill1 {
        height: 100%;
    }
    
    #skill2 {
        height: 100%;
    }
    
    #skill3 {
        height: 100%;
    }

    #skill4 {
        height: 100%;
    }
    
    #skill5 {
        height: 100%;
    }
    
    #skill6 {
        height: 100%;
    }
    

    #html5 {
        height: 50px;
    }
    
    #css3 {
        height: 50px;
    }
    
    #wordpress_log {
        top:-105%;
        height: 300px;
    }
    
    #js6 {
        height: 50px;
    }
    
    #sassscss {
        height: 50px;
    }
    
    #react {
        height: 50px;
    }
    
    #git {
        height: 50px;
    }
    

    .wordpress_name {
        font-size: 8vh;
    }

    #skill_wordpress {
        height: 100%;
    }

    #container___one {
        height: 40%;
        flex-direction: column;
        }
        
        #container___two {
            flex-direction: column;
            height: 15%;
        }
        
        #container__three {
            height: 40%;
            flex-direction: column;
        }

}