@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

#information {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200vh;
    height: 250vh;
    width: 100%;
}

#skills1 {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    height: 50%;
    width: 100%;
    background-color: red;
    background-size: 75%;
    z-index: 0;
}

#knowledge {
    display: block;
    position: absolute;
    float: right;
    height: 220px;
    left: -10px;
    bottom: 15.5%;
    z-index: -2;
}

#about_me {
    align-self: center;
    height: 95%;
    width: 90%;
    background-color: #01c70165;
}

#skills2 {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 100%;
    background-image: url(../images/desk.jpg);
    z-index:1;
}

#working_man {
    position: absolute;
    align-self: center;
    height: 360px;
    left: 0px;
    z-index: -1;
}

#actual_skills {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 20px;
    height: 80%;
    width: 90%;
    border-bottom: 2px solid white;
    background-color: #7e8000ad;
}

/* skill's */

#skill1 {
    height: 15%;
    width: 100%;
    background-color: #ffff005e;
}

#skill2 {
    height: 15%;
    width: 100%;
    background-color: #0000ff8c;
}

#skill3 {
    height: 15%;
    width: 100%;
    background-color: #ffa6007e;
}

#skill4 {
    height: 15%;
    width: 100%;
    background-color: #ffc0cbc2;
}

#skill5 {
    height: 15%;
    width: 100%;
    background-color: #00ffffa2;
}

#skill6 {
    height: 15%;
    width: 100%;
    background-color: #808080a8;
}

h4 {
    align-self: center;
    text-transform: uppercase;
    margin: 10px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color: white;
}

/* */

#html5 {
    display: none;
}

#css3 {
    display: none;
}
#js6 {
    display: none;
}
#sassscss {
    display: none;
}