@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

#information {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200vh;
    height: 250vh;
    width: 100%;
}

#skills1 {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    height: 50%;
    width: 100%;
    background-color: #7048fd;
    background-size: 75%;
    z-index: 0;
    overflow: hidden;
}

#knowledge {
    display: block;
    position: absolute;
    float: right;
    height: 220px;
    left: -10px;
    bottom: 15.5%;
    z-index: 0;
}

#about_me {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80%;
    width: 90%;
    background-color: #7852ff;
    z-index: 2;
}

#skills2 {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 100%;
    background-image: url(../images/desk.jpg);
    background-size: 75%;
}

h5 {
    position: absolute;
    font-size: 60px;
    top: 5%;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #c8b9fc;
}

/* description */

#description {
    align-self: flex-end;
    position: absolute;
    height:72.5%;
    width: 100%;
    background-color: #2300ecb9;
}

.desc {
    display: block;
    position: relative;
    align-self: flex-end;
    text-align: left;
    font-size: 22px;
    padding: 1px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #c6b8ff;
    z-index: 1;
}

#about_me_ {
    top: 0px;
}

/* */

#working_man {
    position: absolute;
    align-self: flex-start;
    top: 30px;
    left: 20px;
    height: 100px;
}

#actual_skills {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 20px;
    height: 80%;
    width: 90%;
    border-bottom: 2px solid white;
    background-color: #0000008a;
    z-index: 1;
}

/* skill's */

#skill1 {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #ff9900b9;
    overflow: hidden;
}

#skill2 {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #0059ff86;
    overflow: hidden;
}

#skill3 {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #ffe6008e;
    overflow: hidden;
}

#skill4 {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #fc7ff5a1;
    overflow: hidden;
}

#skill5 {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #3ea8ffab;
    overflow: hidden;
}

#skill6 {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-color: #b22222b4;
    overflow: hidden;
}

h4 {
    align-self: center;
    text-transform: uppercase;
    margin: 10px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color: white;
}

/* */

#html5 {
    position: relative;
    align-self: center;
    left: 47.5%;
    bottom: 0px;
    height: 85px;
    z-index: 1;
}

#css3 {
    position: relative;
    align-self: center;
    left: -46.5%;
    bottom: 0px;
    height: 95px;
    z-index: 1;
}

#js6 {
    position: relative;
    align-self: center;
    left: 43.5%;
    bottom: 0px;
    height: 80px;
    z-index: 1;
}

#sassscss {
    position: relative;
    align-self: center;
    left: -43.5%;
    bottom: 0px;
    height: 120px;
    z-index: 1;
}

#react {
    position: relative;
    align-self: center;
    left: 47.5%;
    bottom: 0px;
    height: 115px;
    z-index: 1;
}

#git {
    position: relative;
    align-self: center;
    left: -47.5%;
    bottom: 0px;
    height: 85px;
    z-index: 1;
}

.html5_name {
    position: absolute;
    text-align: center;
}

.css3_name {
    position: absolute;
    text-align: center;
}
.js6_name {
    position: absolute;
    text-align: center;
}
.sassscss_name {
    position: absolute;
    text-align: center;
}

.react_name {
    position: absolute;
    text-align: center;
}

.git_name {
    position: absolute;
    text-align: center;
}

/* media querie's */

@media (min-height:320px) and (max-height:500px) and (orientation: landscape) {

    .html5_name{
        font-size: 32px;
    }

    .css3_name {
        font-size: 32px;
    }
    .js6_name {
        font-size: 32px;
    }
    .sassscss_name {
        font-size: 32px;
    }
    
    .react_name {
        font-size: 32px;
    }
    
    .git_name {
        font-size: 32px;
    }

    h4 {
        font-size: 44px;
    }

}

@media (min-width:480px) and (max-width:580px) {

    #knowledge {
        display: block;
        position: absolute;
        float: right;
        height: 220px;
        width: auto;
        left: -10px;
        bottom: 15.5%;
        z-index: 0;
    }

}

@media (min-width:581px) {

    #skills1 {height: 40%;}

    #about_me_ {
        bottom: 0px;
    }

    h4 {

        font-size: 100px;
    }

}

@media (min-width:600px) and (min-height:1024px) {

    h5 {
        font-size: 100px;
    }

    h4 {
        font-size: 52px;
    }

    #knowledge {
        bottom: -.05%;
    }

    .desc {
        font-size: 40px;
    }

    #skills1 {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        position: relative;
        height: 50%;
        width: 100%;
        background-color: #7048fd;
        background-size: 75%;
        z-index: 0;
        overflow: hidden;
    }
}

@media (min-width: 640px) {

    #skills2 {
        top: 100vh;
        height: 44%;
    }

    .html5_name {
        position: absolute;
        text-align: center;
        font-size: 60px;
    }
    
    .css3_name {
        position: absolute;
        text-align: center;
        font-size: 60px;
    }
    .js6_name {
        position: absolute;
        text-align: center;
        font-size: 35px;
    }
    .sassscss_name {
        position: absolute;
        text-align: center;
        font-size: 35px;
    }
    
    .react_name {
        position: absolute;
        text-align: center;
        font-size: 60px;
    }
    
    .git_name {
        position: absolute;
        text-align: center;
        font-size: 60px;
    }

    #actual_skills {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin-top: 20px;
        height: 60%;
        width: 90%;
        border-bottom: 2px solid white;
        background-color: #0000008a;
        z-index: 1;
    }

    #html5 {
        position: relative;
        align-self: center;
        left: 50%;
        bottom: 0px;
        height: 82.5px;
        z-index: 1;
    }

    #css3 {
        position: relative;
        align-self: center;
        left: -50%;
        bottom: 0px;
        height: 95px;
        z-index: 1;
    }

    #actual_skills {
        height: 80%;
    }

    #skill1{
        position: absolute;
        top: 20px;
        height: 30%;
        width: 30%;
        bottom: 350px;
        align-self: flex-end;
    }

    #skill2{
        position: absolute;
        top: 20px;
        height: 30%;
        width: 30%;
        bottom: 350px;
        left: 35%;
        align-self: flex-end;
    }

    #skill3{
        position: absolute;
        top: 20px;
        height: 30%;
        width: 30%;
        bottom: 350px;
        left: 65%;
        align-self: flex-start;
    }

    #skill4{
        position: relative;
        height: 40%;
        width: 33.5%;
        top: 37.2%;
        align-self: flex-start;
    }

    #skill5{
        position: relative;
        height: 40%;
        width: 33.5%;
        top: 37.2%;
        align-self: flex-start;
    }

    #skill6{
        position: relative;
        height: 40%;
        width: 33.5%;
        top: 37.2%;
        align-self: flex-start;
    }

    #skills2 {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0px;
    }

    #knowledge {
        bottom: 0px;
    }

    h4 {
        position: absolute;
        align-self: flex-end;
        font-size: 68px;
    }

    h5 {
        top: 0px;
        font-size: 53px;
    }

    .desc {
        font-size: 18px;
        padding: .1px;
    }

    #about_me_ {
        height: 110%;
    }
    

}

@media (max-height:640px) and (min-width:360px) {

    #actual_skills {
        height: 95%;
    }

    #skill1 {
        height: 35%;
    }

    #skill2 {
        height: 35%;
    }

    #skill3 {
        height: 35%;
    }

    #skill4 {
        height: 35%;
        top: 39.2%;
    }

    #skill5 {
        height: 35%;
        top: 39.2%;
    }

    #skill6 {
        height: 35%;
        top: 39.2%;
    }

    #actual_skills {
        height: 90%;
    }

    h4 {
        font-size: 57px;
    }

    .desc {
        font-size:21px;
    }

    #knowledge {
        bottom: -.55%;
    }

}

@media (min-width: 800px) {

    #skill4 {
        top: 37.5%;
        height: 52%;

    }

    #skill5 {

        top: 37.5%;
        height: 52%;

    }

    #skill6 {

        top: 37.5%;
        height: 52%;

    }

    h5 {
        top:3%;
        font-size: 140px;
    }

    .desc {
        font-size: 50px;
    }

    h4 {
        font-size: 71px;
    }

    #description {
        top: 18%;
        height: 60%;
    }

}

@media (min-width:1280px) {

    h5 {
        top: 0px;
        font-size: 115px;
    }
    
    .desc {
        font-size: 86px;
    }

    #about_me_ {
        height: 110%;
    }

}

@media (min-width:1280px) and (min-height:950px) {

    h5 {
        top: 0px;
        font-size: 12vw;
    }
    
    .desc {
        top: 0%;
        font-size: 6vh;
    }

    #about_me_ {
        height: 110%;
    }

}


@media (min-width:1440px) {

    #html5 {
        position: relative;
        align-self: center;
        left: -50%;
        bottom: 0px;
        height: 245px;
        z-index: 1;
    }
    
    #css3 {
        position: relative;
        align-self: center;
        left: -46.5%;
        bottom: 0px;
        height: 255px;
        z-index: 1;
    }
    
    #js6 {
        position: relative;
        align-self: center;
        left: -49.5%;
        bottom: 0px;
        height: 165px;
        z-index: 1;
    }
    
    #sassscss {
        position: relative;
        align-self: center;
        left: -38.5%;
        bottom: 0px;
        height: 285px;
        z-index: 1;
    }
    
    #react {
        position: relative;
        align-self: center;
        left: 47.5%;
        bottom: 0px;
        height: 265px;
        z-index: 1;
    }
    
    #git {
        position: relative;
        align-self: center;
        left: -47.5%;
        bottom: 0px;
        height: 190px;
        z-index: 1;
    }
    

    .html5_name {
        font-size: 85px;
    }
    
    .css3_name {
        font-size: 85px;
    }
    .js6_name {
        font-size: 85px;
    }
    .sassscss_name {
        font-size: 85px;
    }
    
    .react_name {
        font-size: 85px;
    }
    
    .git_name {
        font-size: 85px;
    }

}

@media (min-width:1440px) and (max-height:900px) {

    #about_me_ {

        top: 0px;
    }

    .desc {
        
        top: 1%;
        font-size: 64px;
    }

    h5 {
        top:0px;
        font-size: 125px;
    }
}






/* new media Querie's */
