@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

#slider {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    top: 100vh;
    height: 100vh;
    width: 100%;
}

.gamejolt {
    position: absolute;
    align-self: flex-end;
    margin: 10px;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    z-index: 1;
}

.gamejolt:hover {
    font-size: 16px;
}

span {
    text-transform: uppercase;
    align-self: center;
    font-size:40px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    cursor: default;
    z-index: 1;
}

/* project1 */

#project1 {
    display: flex;
    justify-content: center;
    position: relative;
    height:50%;
    width:100%;
    background-image: linear-gradient(#0000009c, #000000 115%);
}

#glitch_effect {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    opacity: 0.15;
    background-image: url(../images/glitch_effect.gif);
}

#prj1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%; 
    z-index: -3;  
}

/* */

/* Project 2 */

#project2 {
    display: flex;
    justify-content: center;
    position: relative;
    height:50%;
    width:100%;
    background-image: linear-gradient(#0000009c, #0080007a 115%);
}

#prj2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%; 
    z-index: -6;  
}

/* */

#project3 {
    display: flex;
    justify-content: center;
    position: relative;
    height:50%;
    width:100%;
    background-image: linear-gradient(#0000009c, #0b006b 115%);
}

#prj3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%; 
    z-index: -5;  
}

#project4 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    height:50%;
    width:100%;
    background-image: linear-gradient(#0000009c, #252525da 115%);
}

#project5 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    height:50%;
    width:100%;
    background-image: linear-gradient(#0000009c, #252525da 115%);
}

/* project 6 */

#project6 {
    display: flex;
    justify-content: center;
    position:relative;
    height:50%;
    width:100%;
    background-image: linear-gradient(#0000009c, #ff9900 115%);
    overflow: hidden;
} 

.madmanrun_website {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    z-index: 1;
}

.madmanrun_website:hover {
    font-size: 16px;
}

#prj6 {
    position: absolute;
    left: -75px;
    top: 0px;
    height: 100%;
    width: 140%; 
    z-index: -3;
}

/* media querie's */

@media (min-width: 650px) {

    #slider {
        flex-direction: row;
    }

    #project4 {
        align-self: flex-end;
        position: absolute;
        left: 65%;
        bottom: 0px;
        height:50%;
        width:35%;
        background-color: rgb(217, 255, 0);
    }
    
    #project5 {
        align-self: flex-end;
        position: absolute;
        left:33.35%;;
        bottom: 0px;
        height:50%;
        width:33.35%;
        background-color: rgb(255, 0, 140);
    }
    
    #project6 {
        align-self: flex-end;
        position:absolute;
        bottom: 0px;
        height:50%;
        width:33.35%;
        background-color: rgb(0, 255, 255);
    } 
    
    #prj1 {
        position: absolute;
        bottom: 0%;
        right: 0%;
        height: 216px;
        width: 384px; 
        z-index: -3;  
    }


}