@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Merriweather&display=swap');

#slider {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    top: 100vh;
    height: 100vh;
    width: 100%;
}

.gamejolt {
    position: absolute;
    align-self: flex-end;
    margin: 10px;
    font-size: 16px;
    z-index: 1;
}

.gamejolt:hover {
    font-size: 16px;
}

span {
    text-transform: uppercase;
    align-self: center;
    font-size:40px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    cursor: default;
    z-index: 1;
}

/* project1 */

#project1 {
    display: flex;
    justify-content: center;
    position: relative;
    height:50%;
    width:100%;
}

#glitch_effect {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    opacity: 0.65;
    background-image: url(../images/glitch_effect.gif);
}

#prj1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%; 
    z-index: -3;  
}

/* */

#project2 {
    display: flex;
    justify-content: center;
    position: relative;
    height:50%;
    width:100%;
    background-color: #004900e1;
}

#project3 {
    display: flex;
    justify-content: center;
    position: relative;
    height:50%;
    width:100%;
    background-color: #00ff00b9;
}

#project4 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    height:50%;
    width:100%;
    background-color: #00c0005b;
}

#project5 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    height:50%;
    width:100%;
    background-color: #009c00b9;
}

#project6 {
    display: flex;
    justify-content: center;
    position:relative;
    height:50%;
    width:100%;
    background-color: #ffa600;
} 