* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 1000vh;
  max-width: 600vw;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #4949491a;
}

::-webkit-scrollbar-thumb {
  background-color: #800000;
}